﻿<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ui-sref-active="app.im"><a ui-sref="app.im">Аккаунт</a></li>
            <li role="presentation" ui-sref-active="app.im.security"><a ui-sref="app.im.security">Безпека</a></li>
            <li role="presentation" ui-sref-active="app.im.profile"><a ui-sref="app.im.profile">Профіль</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div ui-view>
            <!-- Login, Password Changing, RO Role -->
            <form class="form-horizontal" role="form">
                <div class="row top-buffer">
                    <!-- Left column -->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Основна</div>
                            <div class="panel-body">
                                <div class="form-group mgnB-10">
                                    <label class="col-sm-3 control-label">Логін</label>
                                    <p class="col-sm-3 control-label">{{account.login}}</p>
                                </div>
                                <div class="form-group mgnB-10">
                                    <label class="col-sm-3 control-label">Роль у системі</label>
                                    <p class="col-sm-3 control-label">{{currentRole}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Пароль</div>
                            <div class="panel-body">
                                <div class="form-group mgnB-10">
                                    <label class="col-sm-3 control-label">Поточний пароль</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" ng-model="account.currentPassword">
                                    </div>
                                </div>
                                <div class="form-group mgnB-10">
                                    <label class="col-sm-3 control-label">Новий пароль</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" ng-model="account.newPassword">
                                    </div>
                                </div>
                                <div class="form-group mgnB-10">
                                    <label class="col-sm-3 control-label">Підтвердження</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" ng-model="account.passwordConfirm">
                                    </div>
                                </div>
                                <div class="form-group mgnB-10">
                                    <div class="col-sm-3 pull-right">
                                        <button class="form-control btn-primary" ng-click="changePassword(account)">Зберегти</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Left column -->
                </div>
            </form>
        </div>
    </div>
</div>