﻿<!-- Medius navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app">MEDIUS</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="isActive('app')"><a ui-sref="app">Головна<span class="sr-only">(current)</span></a></li>
                <li ng-class="isActive('app.administration')"><a ui-sref="app.administration.contracts" ng-show="can('app.administration.contracts')">Адміністрування</a></li>
                <li ng-class="isActive('app.staff') || isActive('app.new')" class="dropdown" ng-show="can('app.staff')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Персонал<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="isActive('app.staff')"><a ui-sref="app.staff">Всі</a></li>
                        <li ng-class="isActive('app.new')"><a ui-sref="app.new">Додати працівника</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="isActive('app.patients') || isActive('app.newPatient') || isActive('app.patient')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Пацієнти<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="isActive('app.patients')"><a ui-sref="app.patients">Всі</a></li>
                        <li ng-class="isActive('app.newPatient')"><a ui-sref="app.newPatient">Додати пацієнта</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="isActive('app.medcards') || isActive('app.newMedcard') || isActive('app.medcard')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Медкарти<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="isActive('app.medcards')"><a ui-sref="app.medcards">Всі</a></li>
                        <!--<li ng-class="isActive('app.newMedcard')"><a ui-sref="app.newMedcard">Додати карту</a></li>-->
                    </ul>
                </li>
                <li ng-class="isActive('app.icd')"><a ui-sref="app.icd">МКБ-10</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="app.help">Справка</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Обліковий запис<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="app.im">Мій аккаунт</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="sign_in" ng-click="signOut()">Вихід</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav><!-- /.Medius navbar -->
<div class="container-fluid" ui-view>
    <div style="margin-top: 150px">
        <div class="text-center">
            <img src="../../../images/medius.png" />
            <div>
                Система MEDIUS призначена для автоматизації роботи, обліку <br /> та зберігання інформації, управління медичною картою пацієнтів.
            </div>
        </div>
    </div>
</div>
<!--<footer style="height: 100px"></footer>-->