﻿<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Токени</div>
            <div class="panel-body">
                <table class="table table">
                    <thead>
                        <tr>
                            <td>Клієнт</td>
                            <td>IP-адреса</td>
                            <td>Придатність</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="token in tokens" ng-class="getStatusClass(token)">
                        <td>{{token.userAgent}}</td>
                        <td>{{token.ipAddress}}</td>
                        <td>{{token.expiresIn.toLocaleString()}}</td>
                    </tr>
                </table>
                <button class="btn btn-danger" ng-click="clearAllTokensExcept(tokens)">Стерти всі</button>
            </div>
        </div>
    </div>
</div>
