<div id="sign-in-form" class="row">
    <div class="col-md-offset-4 col-md-3">
        <form class="form-signin">
            <h2>Вхід в систему</h2>
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Логін</label>
                <input type="text" id="inputLogin" class="form-control" placeholder="Логін" required autofocus ng-model="credential.login">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Пароль</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required ng-model="credential.passwordHash">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="isRemember" value="remember-me">Запомнить
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ui-sref="app" ng-click="signIn(credential)">Войти</button>
        </form>
    </div>
</div>