<div class="row">
    <div class="col-md-2">
        <!--Sidebar content-->
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a ui-sref="app.medcard.assignment_list">Основное</a></li>
            <li role="presentation"><a ui-sref="app.medcard.assignment_list.assignments">Назначения</a></li>
            <li role="presentation"><a ui-sref="app.medcard.assignment_list.examinations">Обследования</a></li>
            <li role="presentation"><a ui-sref="app.medcard.assignment_list.diet">Диетическое питание</a></li>
            <li role="presentation"><a ui-sref="app.medcard.assignment_list.physio">Физиотерапевтические процедуры</a></li>
            <li role="presentation"><a ui-sref="app.medcard.assignment_list.psyho">Психотерапевтические процедуры</a></li>
            <li role="presentation"><a ui-sref="app.medcard.assignment_list.local_treatment">Местное лечение</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <!--Body content-->
        <div ui-view>assignment_list</div>
        
    </div>
</div>