﻿<ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-class="isActive('app.patient.usd')"><a ui-sref="app.patient.usd">Основне</a></li>
    <li role="presentation" ng-class="isActive('app.patient.usd.liver.liverMain')"><a ui-sref="app.patient.usd.liver.liverMain">Печінка</a></li>
    <li role="presentation" ng-class="isActive('app.patient.usd.gallbladder')"><a ui-sref="app.patient.usd.gallbladder">Жовчний міхур</a></li>
    <li role="presentation" ng-class="isActive('app.patient.usd.pancreas')"><a ui-sref="app.patient.usd.pancreas">Підшлункова залоза</a></li>
    <li role="presentation" ng-class="isActive('app.patient.usd.kidneys')"><a ui-sref="app.patient.usd.kidneys.left">Нирки</a></li>
    <li role="presentation" ng-class="isActive('app.patient.usd.spleen')"><a ui-sref="app.patient.usd.spleen">Селезінка</a></li>
    <li role="presentation" ng-class="isActive('app.patient.usd.adrenals')"><a ui-sref="app.patient.usd.adrenals">Наднирники</a></li>
</ul>