<div class="row" id="adrenals">
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="is_visualized" class="col-sm-3 control-label">Візуалізація</label>
            <div class="col-sm-9 mgnB-10">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="adrenals.isVisualized" btn-radio="true">Локується</label>
                    <label class="btn btn-primary" ng-model="adrenals.isVisualized" btn-radio="false">Не локується</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="form-control" type="text" name="is_visualized" ng-model="adrenals.visualizationDetails"> 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="save(adrenals)"><i class="fa fa-check"></i> Оновити</button>
    </div>
</div>