<div class="row" id="gallbladder">
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="bladder" class="col-sm-3 control-label">Візуалізація</label>
            <div class="col-sm-9">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="gallbladder.isVisualized" btn-radio="true">Так</label>
                    <label class="btn btn-primary" ng-model="gallbladder.isVisualized" btn-radio="false">Ні</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="position" class="col-sm-3 control-label">Розташований:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="position" ng-model="gallbladder.location">звичайно
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="position" ng-model="gallbladder.location">незвичайно
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="form4" class="col-sm-3 control-label">Форма:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="form4" ng-model="gallbladder.form">в нормі
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="form4" ng-model="gallbladder.form">змінена
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="text" class="form-control" name="form4" ng-model="gallbladder.formDetails">
            </div>
        </div>
        <div class="form-group">
            <label for="neck" class="col-sm-3 control-label">Шийка міхура:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="neck" ng-model="gallbladder.bladderNeck">змінена
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="neck" ng-model="gallbladder.bladderNeck">не змінена
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="contours4" class="col-sm-3 control-label">Контури:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="contours4" ng-model="gallbladder.outlines">рівні
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="contours4" ng-model="gallbladder.outlines">нерівні
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="size4" class="col-sm-3 control-label">Розміри</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" step="0.1" name="size4" ng-model="gallbladder.size"> 
            </div>
        </div>
        <div class="form-group">
            <label for="volume" class="col-sm-3 control-label">об'єм</label>
            <div class="col-sm-4">
                <input class="form-control" type="number"  step="0.1" name="volume" ng-model="gallbladder.capacity">
            </div>
        </div>
        <div class="form-group">
            <label for="func4" class="col-sm-3 control-label">Евакуаційна функція</label>
            <div class="col-sm-9">
                <input class="form-control " type="text" name="func4" ng-model="gallbladder.evacuationFunction"> 
            </div>
        </div>
        <div class="form-group">
            <label for="wall" class="col-sm-3 control-label">Стінка:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="wall" ng-model="gallbladder.wall">не змінена
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="wall" ng-model="gallbladder.wall">змінена
                </label>
                <label class="radio-inline">
                    <input type="radio" value="3" name="wall" ng-model="gallbladder.wall">потовщена
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="text" class="form-control" name="wall" ng-model="gallbladder.wallDetails">
            </div>
        </div>
        <div  class="form-group">
            <label for="echogenicity4" class="col-sm-3 control-label">Ехогенність</label>
            <div class="col-sm-9">
                <select name='echogenicity4' class="form-control" ng-model="gallbladder.echogenicity">
                    <option value="1" ng-selected="gallbladder.echogenicity == 1">Не змінена</option>
                    <option value="2" ng-selected="gallbladder.echogenicity == 2">Змінена</option>
                    <option value="3" ng-selected="gallbladder.echogenicity == 3">Змінена (знижена)</option>
                    <option value="4" ng-selected="gallbladder.echogenicity == 4">Змінена (середня)</option>
                    <option value="5" ng-selected="gallbladder.echogenicity == 5">Змінена (підвищена)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="structure4" class="col-sm-3 control-label">Структура:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="structure4" ng-model="gallbladder.structure">однорідна
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="structure4" ng-model="gallbladder.structure">неоднорідна
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="content3" class="col-sm-3 control-label">Вміст міхура:</label>
            <div class="col-sm-9">
                <select name='content3' class="form-control" ng-model="gallbladder.content">
                    <option value="1" ng-selected="gallbladder.content == 1">Однорідний</option>
                    <option value="2" ng-selected="gallbladder.content == 2">Неоднорідний</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="creation" class="col-sm-3 control-label">Конкременти</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="creation" ng-model="gallbladder.concretions"> 
            </div>
        </div>
        <div class="form-group">
            <label for="creation" class="col-sm-3 control-label">Утворення</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="creation" ng-model="gallbladder.formation"> 
            </div>
        </div>
        <div class="form-group">
            <label for="strait4" class="col-sm-3 control-label">Жовчні протоки</label>
            <div class="col-sm-offset-3 col-sm-9">
                <textarea class="form-control" rows="2" name="strait4" ng-model="gallbladder.bileDucts"></textarea> 
            </div>
        </div>
        <div class="form-group">
            <label for="nodes3" class="col-sm-3 control-label">Регіональні лімфовузли:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="nodes3" ng-model="gallbladder.lymphNodesVisualization">локуються
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="nodes3" ng-model="gallbladder.lymphNodesVisualization">не локуються
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="form-control" type="text" name="nodes3" ng-model="gallbladder.lymphNodesDetails">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="save(gallbladder)"><i class="fa fa-check"></i> Оновити</button>
    </div>
</div>