<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li ng-class="isActive('app.patient.usd.kidneys.left')" role="presentation"><a ui-sref="app.patient.usd.kidneys.left">Ліва</a></li>
            <li ng-class="isActive('app.patient.usd.kidneys.right')" role="presentation"><a ui-sref="app.patient.usd.kidneys.right">Права</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div ui-view></div>
    </div>
</div>