﻿<div style="margin-top: 15px;" class="row" id="liverMain">
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="position" class="col-sm-3 control-label">Розташована</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="position" ng-model="liverMain.location">звичайно
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="position" ng-model="liverMain.location">незвичайно
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="form3" class="col-sm-3 control-label">Форма:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="form3" ng-model="liverMain.form">змінена
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="form3" ng-model="liverMain.form">не змінена
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="contours3" class="col-sm-3 control-label">Контури:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="contours3" ng-model="liverMain.outlines">чіткі
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="contours3" ng-model="liverMain.outlines">нечіткі
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <textarea class="form-control" rows="2" ng-model="liverMain.outlinesDetails"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="size3" class="col-sm-3 control-label">Розміри:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="size3" ng-model="liverMain.sizes"> не збільшені
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="size3" ng-model="liverMain.sizes">збільшені
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="parenchyma3" class="col-sm-3 control-label">Паренхіма</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="parenchyma3" ng-model="liverMain.parenchyma">
            </div>
        </div>
        <div class="form-group">
            <label for="echogenicity3" class="col-sm-3 control-label">Ехогенність</label>
            <div class="col-sm-9">
                <select name='echogenicity3' class="form-control" ng-model="liverMain.echogenicity">
                    <option value="1" ng-selected="liverMain.echogenicity == 1">Не змінена</option>
                    <option value="2" ng-selected="liverMain.echogenicity == 2">Змінена</option>
                    <option value="3" ng-selected="liverMain.echogenicity == 3">Змінена (середня)</option>
                    <option value="4" ng-selected="liverMain.echogenicity == 4">Змінена (підвищена)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="text" class="form-control" name="echogenicity3" ng-model="liverMain.echogenicityDetails">
            </div>
        </div>
        <div class="form-group">
            <label for="structure3" class="col-sm-3 control-label">Структура:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="structure3" ng-model="liverMain.structure">однорідна
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="structure3" ng-model="liverMain.structure">неоднорідна
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="strait3" class="col-sm-3 control-label">Жовчні протоки:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="strait3" ng-model="liverMain.bileDucts">локуються
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="strait3" ng-model="liverMain.bileDucts">не локуються
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="architectonics" class="col-sm-3 control-label">Архітектоніка:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="architectonics" ng-model="liverMain.vascularArchitectonic">змінена
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="architectonics" ng-model="liverMain.vascularArchitectonic">не змінена
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="save(liverMain)"><i class="fa fa-check"></i> Оновити</button>
    </div>
</div>
