﻿<div style="margin-top: 15px;" class="row" id="liverVolumeProcess">
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="count3" class="col-sm-3 control-label">Кількість</label>
            <div class="col-md-9">
                <input type="number" step="1" class="form-control" name="count3" ng-model="liverVolumeProcess.count" />
            </div>
        </div>  
        <div class="form-group">
            <label for="location3" class="col-sm-3 control-label">Розташування по сегментах</label>
            <div class="col-md-9">
                <textarea rows="2" class="form-control" name="location3" ng-model="liverVolumeProcess.location"></textarea>
            </div> 
        </div>
        <div class="form-group">
            <label for="form3" class="col-sm-3 control-label">Форма</label>
            <div class="col-md-9">
                <textarea rows="2" class="form-control" name="form3" ng-model="liverVolumeProcess.form"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="outlines3" class="col-sm-3 control-label">Контури</label>
            <div class="col-md-9">
                <textarea rows="2" class="form-control" name="outlines3" ng-model="liverVolumeProcess.outlines"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="sizes3" class="col-sm-3 control-label">Розміри</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="sizes3" ng-model="liverVolumeProcess.sizes" />
            </div>
        </div>
        <div class="form-group">
            <label for="echogencity3" class="col-sm-3 control-label">Ехогенність</label>
            <div class="col-md-9">
                <textarea rows="2" class="form-control" name="echogencity3" ng-model="liverVolumeProcess.echogencity"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="rtl3" class="col-sm-3 control-label">Відношення до структур печінки</label>
            <div class="col-md-9">
                <textarea rows="2" class="form-control" name="rtl3" ng-model="liverVolumeProcess.relationshipToLiver"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="other3" class="col-sm-3 control-label">Нотатки</label>
            <div class="col-md-9">
                <textarea rows="2" class="form-control" name="other3" ng-model="liverVolumeProcess.other"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="save(liverVolumeProcess)"><i class="fa fa-check"></i> Оновити</button>
    </div>
</div>

