﻿<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li ng-class="isActive('app.patient.usd.liver.liverMain')" role="presentation"><a ui-sref="app.patient.usd.liver.liverMain">Основне</a></li>
            <li ng-class="isActive('app.patient.usd.liver.liverVolumeProcess')" role="presentation"><a ui-sref="app.patient.usd.liver.liverVolumeProcess">Об'ємні процеси</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div ui-view></div>
    </div>
</div>
