<div class="row" id="usd">
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="number" class="col-sm-3 control-label">Номер протоколу</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="number" ng-model="usd.number">
            </div>
        </div>
        <div class="form-group">
            <label for="right3" class="col-sm-3 control-label">Умови</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="right3" ng-model="usd.condition">Підготовлений
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="right3" ng-model="usd.condition">Непідготовлений
                </label>
                <label class="radio-inline">
                    <input type="radio" value="3" name="right3" ng-model="usd.condition">Ургентно
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="meteorism" class="col-sm-3 control-label">Метеоризм</label>
            <div class="col-sm-9">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="usd.meteorism" btn-radio="true">Так</label>
                    <label class="btn btn-primary" ng-model="usd.meteorism" btn-radio="false">Ні</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-3 control-label">Дата</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" name="date" ng-model="usd.date">
            </div>
        </div>
        <!--div class="form-group">
            <label for="performer" class="col-sm-3 control-label">Performer</label>
            <div class="col-sm-9">
                <textarea rows="2" class="form-control" name="performer" ng-model="usd.performer"></textarea>
            </div>
        </div-->
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="addUsd(usd)"><i class="fa fa-check"></i> Додати</button>
    </div>
</div>