<div class="row" id="liver">
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="loc3" class="col-sm-3 control-label">Локуєтсья</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="loc3" ng-model="pancreas.visualization">повністю
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="loc3" ng-model="pancreas.visualization">фаргментарно
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="form5" class="col-sm-3 control-label">Форма:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="form5" ng-model="pancreas.form">не змінена
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="form5" ng-model="pancreas.form">змінена
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="contours5" class="col-sm-3 control-label">Контури:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="contours5" ng-model="pancreas.outlines">чіткі
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="contours5" ng-model="pancreas.outlines">нечіткі
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="size_head" class="col-sm-3 control-label">Розміри голівки</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="size_head" ng-model="pancreas.sizeHead"> 
            </div>            
        </div> 
         <div class="form-group">
            <label for="size_head" class="col-sm-3 control-label">Розміри тіла</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="size_body" ng-model="pancreas.sizeBody"> 
            </div>            
        </div> 
        <div class="form-group">
            <label for="size_head" class="col-sm-3 control-label">Розміри хвоста</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="size_tail" ng-model="pancreas.sizeTail"> 
            </div>            
        </div> 
        <div class="form-group">
            <label for="echogenicity5" class="col-sm-3 control-label">Ехогенність паренхіми:</label>
            <div class="col-sm-9">
                <select name='echogenicity5' class="form-control" ng-model="pancreas.echogenicity">
                    <option value="1" ng-selected="pancreas.echogenicity == 1">Знижена</option>
                    <option value="2" ng-selected="pancreas.echogenicity == 2">Середня</option>
                    <option value="3" ng-selected="pancreas.echogenicity == 3">Підвищена</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="structure5" class="col-sm-3 control-label">Структура:</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" value="1" name="structure5" ng-model="pancreas.structure">однорідна
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" name="structure5" ng-model="pancreas.structure">неоднорідна
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="creation5" class="col-sm-3 control-label">Осередкові утворення:</label>
            <div class="col-sm-9">
                <input class="form-control" name="creation5" type="text" ng-model="pancreas.focalFormations">
            </div>            
        </div>
        <div class="form-group">
            <label for="strait5" class="col-sm-3 control-label">Панкреатичні протоки:</label>
            <div class="col-sm-9">
                <input class="form-control" name="creation5" type="text" ng-model="pancreas.pancreaticDuct">
            </div>
        </div>
        <div class="form-group">
            <label for="node5" class="col-sm-3 control-label">Позачеревні лімфатичні вузли</label>
            <div class="col-sm-9">
                <select name='node5' class="form-control" ng-model="pancreas.lymphNodesVisualization">
                    <option value="1" ng-selected="pancreas.lymphNodesVisualization == 1">Локуються</option>
                    <option value="2" ng-selected="pancreas.lymphNodesVisualization == 2">Не локуються</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input class="form-control" name="node5" type="text" ng-model="pancreas.lymphNodesDetails">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="save(pancreas)"><i class="fa fa-check"></i> Оновити</button>
    </div>
</div>