<div class="row" id="leftKidney">
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="left3" class="col-sm-3 control-label">Права нирка</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="left3" ng-model="kidney.visualization">
            </div>
        </div>
        <div class="form-group">
            <label for="position7" class="col-sm-3 control-label">Розташована:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="position7" ng-model="kidney.location">
            </div>
        </div>
        <div class="form-group">
            <label for="motion7" class="col-sm-3 control-label">Рухомість</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="motion7" ng-model="kidney.mobility"> 
            </div>
        </div>
        <div class="form-group">
            <label for="form7" class="col-sm-3 control-label">Форма</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="form7" ng-model="kidney.form"> 
            </div>
        </div>
        <div class="form-group">
            <label for="contours7" class="col-sm-3 control-label">Контури</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="contours7" ng-model="kidney.outlines"> 
            </div>
        </div>
        <div class="form-group">
            <label for="size7" class="col-sm-3 control-label">Розміри</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="size7" ng-model="kidney.sizes"> 
            </div>
        </div>
        <div class="form-group">
            <label for="thickness7" class="col-sm-3 control-label">Товщина паренхіми</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="thickness7" ng-model="kidney.parenchymalThickness"> 
            </div>
        </div>
        <div class="form-group">
            <label for="echogenicity7" class="col-sm-3 control-label">Ехогенність</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="echogenicity7" ng-model="kidney.echogenicity"> 
            </div>
        </div>
        <div class="form-group">
            <label for="complex7" class="col-sm-3 control-label">Чашково-мисковий комплекс</label>
            <div class="col-sm-9">
                <textarea class="form-control" rows="2" name="complex7" ng-model="kidney.cupPelvisComplex"></textarea> 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="save(kidney)"><i class="fa fa-check"></i> Оновити</button>
    </div>
</div>