<div class="row" id="spleen">
    <div class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="size7" class="col-sm-3 control-label">Розмір</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="size7" ng-model="spleen.sizes">
            </div>
        </div>
        <div class="form-group">
            <label for="form7" class="col-sm-3 control-label">Форма</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="form7" ng-model="spleen.form">
            </div>
        </div>
        <div class="form-group">
            <label for="contours7" class="col-sm-3 control-label">Контури</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="contours7" ng-model="spleen.outlines">
            </div>
        </div>
        <div class="form-group">
            <label for="bvs" class="col-sm-3 control-label">Структура судин селезінки</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="bvs" ng-model="spleen.bloodVesselStructure">
            </div>
        </div>
        <div class="form-group">
            <label for="abdominal_aorta" class="col-sm-3 control-label">Черевний відділ аорти</label>
            <div class="col-sm-9">
                <textarea rows="2" class="form-control" name="abdominal_aorta" ng-model="spleen.abdominalAorta"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="defeat_symptomps" class="col-sm-3 control-label">Симптоми враження порожнинного органу</label>
            <div class="col-sm-9">
                <textarea rows="2" class="form-control" name="defeat_symptomps" ng-model="spleen.defeatSymptoms"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button type="submit" id="send" name="enter" class="btn btn-primary" ng-click="save(spleen)"><i class="fa fa-check"></i> Оновити</button>
    </div>
</div>