﻿<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-class="isActive('app.employee')"><a ui-sref=" app.employee">Основна</a></li>
            <li role="presentation" ng-class="isActive('app.employee.account')"><a ui-sref=" app.employee.account">Аккаунт</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div ui-view>
            <form class="form-horizontal" role="form">
                <div class="row top-buffer">
                    <!-- Left column -->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Основна</div>
                            <div class="panel-body">
                                <div class="form-group mgnB-10">
                                    <label for="surname3" class="col-sm-2 control-label">Прізвище</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="employee.lastname">
                                    </div>
                                </div>
                                <div class="form-group mgnB-10">
                                    <label for="name3" class="col-sm-2 control-label">Ім'я</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="employee.name">
                                    </div>
                                </div>
                                <div class="form-group mgnB-10">
                                    <label for="patron3" class="col-sm-2 control-label">По-батькові</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="employee.patronymic">
                                    </div>
                                </div>
                                <div class="form-group mgnB-10">
                                    <div class="col-sm-3 pull-right">
                                        <button class="form-control btn-primary" ng-click="saveEmployee(employee)">Зберегти</button>
                                    </div>
                                    <div class="col-sm-3 pull-right">
                                        <button class="form-control btn-link" ng-click="loadEmployee()">Відмінити</button>
                                    </div>
                                    <div class="col-sm-3 pull-right">
                                        <button class="form-control btn-danger" ng-click="removeEmployee(employee)">Видалити</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Left column -->
                </div>
            </form>
        </div>
    </div>
</div>
