﻿<!-- Login, Password Changing, RO Role -->
<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <!-- Left column -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Основна</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="login" class="col-sm-2 control-label">Логін</label>
                        <div class="col-sm-8">
                            <input type="text" id="login" class="form-control" ng-model="account.login">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label class="col-sm-2 control-label">Роль у системі</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="account.roleId">
                                <option ng-repeat="role in roles" ng-selected="account.roleId === role.id" value="{{role.id}}">{{role.roleTitle}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="surname3" class="col-sm-2 control-label">Прізвище</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="employee.lastname">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="name3" class="col-sm-2 control-label">Ім'я</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="employee.name">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="patron3" class="col-sm-2 control-label">По-батькові</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="employee.patronymic">
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /. Left column -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Пароль</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label class="col-sm-3 control-label">Пароль</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" ng-model="account.passwordHash">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label class="col-sm-3 control-label">Підтвердження</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" ng-model="account.passwordConfirm">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mgnB-10">
                <div class="col-sm-3 pull-right">
                    <button class="form-control btn-primary" ng-click="addEmployee(account, employee)">Додати</button>
                </div>
            </div>
        </div>
    </div>
</form>