﻿<table class="table table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Ім'я</td>
        </tr>
    </thead>
    <tr ng-repeat="employee in staff" ui-sref="app.employee({staff_id: {{employee.id}}})">
        <td>{{employee.id}}</td>
        <td>{{employee.lastname + ' ' + employee.name + ' ' + employee.patronymic}}</td>
    </tr>
</table>