<div class="list-group">
    <a ui-sref="app.block({block_id: 1})" class="list-group-item">Block 1</a>
    <a ui-sref="app.block({block_id: 2})" class="list-group-item">Block 2</a>
    <a ui-sref="app.block({block_id: 3})" class="list-group-item">Block 3</a>
</div>