<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ui-sref="app.search({expression: 'болезни вирусы тестовый поиск'})">Найти</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="list-group">
    <a ng-repeat="class in classes" ui-sref="app.class({class_id: {{class.id}}})" class="list-group-item">{{class.id}}. {{class.title}}</a>
</div>