﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <!-- Left column -->
        <div class="col-md-12">
            <div class="form-group mgnB-10">
                <div class="col-sm-12">
                    <p>Нова відмітка</p>
                </div>
            </div>
            <div class="form-group mgnB-10">
                <label class="col-sm-2 control-label">Тиск систолічний</label>
                <div class="col-sm-12">
                    <input type="number" class="form-control" ng-model="pressure.top" min="0" max="300" />
                </div>
            </div>
            <div class="form-group mgnB-10">
                <label class="col-sm-2 control-label">Тиск діастолічний</label>
                <div class="col-sm-12">
                    <input type="number" class="form-control" ng-model="pressure.lower" min="0" max="300" />
                </div>
            </div>
            <div class="form-group mgnB-10">
                <label class="col-sm-2 control-label">Дата</label>
                <div class="col-sm-12">
                    <input type="date" class="form-control" ng-model="pressure.date" />
                </div>
            </div>
            <div class="form-group mgnB-10">
                <label class="col-sm-2 control-label">Час</label>
                <div class="col-sm-12">
                    <input type="time" class="form-control" ng-model="pressure.date" />
                </div>
            </div>
            <div class="form-group mgnB-10">
                <div class="col-sm-12">
                    <button class="form-control btn btn-info" ng-click="addPressure(pressure)">Додати</button>
                    <button class="btn btn-link" ui-sref="^">Скасувати</button>
                </div>
            </div>
        </div>
    </div>
</form>