﻿<div class="row">
    <div class="col-md-9">
        <div>
            <canvas id="line" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" click="onClick"></canvas>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid" ui-view>
                    <button class="form-control btn btn-info" ui-sref="app.medcard.temperature_list.pressures.new">Нова відмітка</button>
                </div>
            </div>
        </div>
    </div>
</div>