﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <!-- Left column -->
        <div class="col-md-12">
            <div class="form-group mgnB-10">
                <label class="col-sm-12 control-label">Дата (час)</label>
                <div class="col-sm-12">
                    <p>{{pulse.date.toLocaleString()}}</p>
                </div>
            </div>
            <div class="form-group mgnB-10">
                <label class="col-sm-12 control-label">Пульс</label>
                <div class="col-sm-12">
                    <input type="number" class="form-control" ng-model="pulse.value" min="0" max="300" />
                </div>
            </div>
            <div class="form-group mgnB-10">
                <div class="col-sm-12">
                    <button class="form-control btn btn-info" ng-click="updatePulse(pulse)">Оновити</button>
                    <button class="form-control btn btn-link" ui-sref="^">Скасувати</button>
                    <button class="form-control btn btn-link" style="color: red" ng-click="removePulse(pulse)">Видалити</button>
                </div>
            </div>
        </div>
    </div>
</form>