﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <!-- Left column -->
        <div class="col-md-12">
            <div class="form-group mgnB-10">
                <label class="col-sm-12 control-label">Дата (час)</label>
                <div class="col-sm-12">
                    <p>{{temperature.date.toLocaleString()}}</p>
                </div>
            </div>
            <div class="form-group mgnB-10">
                <label class="col-sm-12 control-label">Температура</label>
                <div class="col-sm-12">
                    <input type="number" class="form-control" ng-model="temperature.value" step="0.1" min="30" max="50" />
                </div>
            </div>
            <div class="form-group mgnB-10">
                <div class="col-sm-12">
                    <button class="form-control btn btn-info" ng-click="updateTemperature(temperature)">Оновити</button>
                    <button class="form-control btn btn-link" ui-sref="^">Скасувати</button>
                    <button class="form-control btn btn-link" style="color: red" ng-click="removeTemperature(temperature)">Видалити</button>
                </div>
            </div>
        </div>
    </div>
</form>