<div class="row">
    <div class="col-md-2">
        <!--Sidebar content-->
        <ul class="nav nav-pills nav-stacked">
            <!--<li role="presentation"><a ui-sref="app.medcard.temperature_list">Основное</a></li>-->
            <li role="presentation" ui-sref-active="active"><a ui-sref="app.medcard.temperature_list.temperatures">Температура</a></li>
            <li role="presentation" ui-sref-active="active"><a ui-sref="app.medcard.temperature_list.pulses">Пульс</a></li>
            <li role="presentation" ui-sref-active="active"><a ui-sref="app.medcard.temperature_list.pressures">Тиск</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <!--Body content-->
        <div class="container-fluid" ui-view>
        </div>
    </div>
</div>