<div class="row">
    <div class="col-md-4 form-horizontal">
        <label><b>Госпіталізували у стаціонар</b></label>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align: left; width: 60px;">Через</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="hospitalization.afterHours">
            </div>
            <label class="col-sm-2 control-label" style="text-align: left; width: 30px;">годин</label>
        </div>
        <div class="form-group col-md-12" style="margin-top: 25px;">
            <select class="form-control" ng-model="hospitalization.hospitalizationPriority">
                <option ng-selected="hospitalization.hospitalizationPriority==1" value="1">Термінові показання</option>
                <option ng-selected="hospitalization.hospitalizationPriority==2" value="2">Плановий порядок</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label>Діагноз клінічний</label>
            <textarea rows="3" class="form-control" ng-model="hospitalization.clinicalDiagnosis"></textarea>
        </div>
        <div class="form-group col-md-12">
            <label for="">Дата встановлення</label>
            <input type="date" class="form-control" ng-model="hospitalization.settingDate">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group col-md-12">
            <label style="margin-bottom: 0;">Діангоз закладу,</label>
            <label>який направив хворого</label>
            <textarea rows="4" class="form-control" ng-model="hospitalization.institutionDiagnosis"></textarea>
        </div>
        <div class="form-group col-md-12">
            <label for="">Діангоз при госпитализації</label>
            <textarea rows="5" class="form-control" ng-model="hospitalization.hospitalizationDiagnosis"></textarea>
        </div>
        <div align="right" class="form-group col-md-12">
            <input class="btn btn-link pull-left" type="button" value="Скасувати" ng-click="loadHospitalization()" />
            <input class="btn btn-primary pull-right" type="button" value="Зберегти" ng-click="updateHospitalization(hospitalization)" />
        </div>
    </div>
</div>