﻿<ul class="nav nav-tabs">
    <li role="presentation" ng-class="isActive('app.medcard')"><a ui-sref="app.medcard">Основне</a></li>
    <li role="presentation" ng-class="isActive('app.medcard.hospitalization')"><a ui-sref="app.medcard.hospitalization">Госпіталізація</a></li>
    <li role="presentation" ng-class="isActive('app.medcard.treatment')"><a ui-sref="app.medcard.treatment">Лікування</a></li>
    <li role="presentation" ng-class="isActive('app.medcard.temperature_list.temperatures') || isActive('app.medcard.temperature_list.pulses') || isActive('app.medcard.temperature_list.pressures')"><a ui-sref="app.medcard.temperature_list.temperatures">Температурний лист</a></li>
    <li role="presentation" ng-class="isActive('app.medcard.assignment_list')"><a ui-sref="app.medcard.assignment_list">Лист призначень</a></li>
</ul>
<button class="btn btn-link" ng-click="toPatient()">Картка пацієнта</button>
<div ui-view>
    <form class="form-horizontal" name="form" role="form" id="jForm">
        <div class="row" id="medcard">
            <!-- Left column -->
            <div class="col-md-6">
                <div class="form-group mgnB-10">
                    <label for="name3" class="col-sm-2 control-label">Номер медкарти</label>
                    <div class="col-sm-8 input-group">
                        <div class="input-group-addon">{{medcard.numberYear}}</div>
                        <input type="text" name="id" class="form-control" ng-model="medcard.numberNumber">
                    </div>
                </div>
                <div class="form-group mgnB-10">
                    <label for="hosp3" class="col-sm-2 control-label">Госпіталізація</label>
                    <div class="col-sm-5">
                        <input type="date" class="form-control" name="hospitalization" id="hosp3" ng-model="medcard.hospitalizationDate">
                    </div>
                    <div class="col-sm-3">
                        <input type="time" class="form-control" name="hospitalizationTime" id="hosp4" ng-model="medcard.hospitalizationDate">
                    </div>
                </div>

                <div class="form-group mgnB-10">
                    <label for="separation3" class="col-sm-2 control-label">Відділення</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="medcard.separationId">
                            <option ng-repeat="separation in separations" ng-selected="medcard.separationId === separation.id" value="{{separation.id}}">{{separation.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mgnB-10">
                    <label class="col-sm-2 control-label" for="gospDate3">Номер палати</label>
                    <div class="col-sm-8">
                        <input type="number" id="gospDate3" name="gospDate" class="form-control" min="1" step="1" ng-model="medcard.chamber">
                    </div>
                </div>
                <div style="margin-bottom: 25px;" class="form-group mgnB-10">
                    <label for="rh_factor3" class="col-sm-2 control-label" style="padding-top: 0px;">В поточному році</label>
                    <div class="col-sm-8">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="medcard.isHospitalizedInCurrentYear" btn-radio="1">Вперше</label>
                            <label class="btn btn-primary" ng-model="medcard.isHospitalizedInCurrentYear" btn-radio="2">Повторно</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-bottom: 15px;">
                    <label for="rh_factor3" class="col-sm-2 control-label">Педикульоз</label>
                    <div class="col-sm-8">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="medcard.pediculosis" btn-radio="1">Так</label>
                            <label class="btn btn-primary" ng-model="medcard.pediculosis" btn-radio="0">Ні</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                    <label for="rh_factor3" class="col-sm-2 control-label">Гепатит</label>
                    <div class="col-sm-4">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="medcard.hepatitisStatus" btn-radio="1">Так</label>
                            <label class="btn btn-primary" ng-model="medcard.hepatitisStatus" btn-radio="0">Ні</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="date" ng-model="medcard.hepatitisDate" />
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                    <label for="rh_factor3" class="col-sm-2 control-label">Огляд на коросту</label>
                    <div class="col-sm-8">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="medcard.scabInspection" btn-radio="1">Так</label>
                            <label class="btn btn-primary" ng-model="medcard.scabInspection" btn-radio="0">Ні</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                    <label for="rh_factor3" class="col-sm-3 control-label">Пульс</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" ng-model="medcard.pulseValue">
                    </div>
                </div>
                <div class="form-group">
                    <label for="rh_factor3" class="col-sm-3 control-label">Температура</label>
                    <div class="col-sm-3">
                        <input type="number" step="0.1" class="form-control" ng-model="medcard.temperatureValue">
                    </div>
                </div>
                <div class="form-group">
                    <label for="rh_factor3" style="padding-top: 0px;" class="col-sm-3 control-label">Тиск (систолічний)</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" ng-model="medcard.pressureTop">
                    </div>
                </div>
                <div class="form-group">
                    <label for="rh_factor3" style="padding-top: 0px;" class="col-sm-3 control-label">Тиск (діастолічний)</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" ng-model="medcard.pressureLower">
                    </div>
                </div>
            </div><!-- /. Left column -->
            <!-- Right column -->
            <div class="col-md-6">
                <div class="form-group mgnB-10">
                    <label for="RW3" class="col-sm-2 control-label">RW</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" name="RW" id="RW3" ng-model="medcard.rw">
                    </div>
                </div>
                <div class="form-group mgnB-10">
                    <label for="infection3" class="col-sm-2 control-label">RW (аналіз)</label>
                    <div class="col-sm-8">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="medcard.rwStatus" btn-radio="1">Так</label>
                            <label class="btn btn-primary" ng-model="medcard.rwStatus" btn-radio="0">Ні</label>
                        </div>
                    </div>
                </div>
                <div class="form-group mgnB-10">
                    <label for="infection3" class="col-sm-2 control-label">Віл-інфекція (аналіз)</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" name="infection" id="infection3" ng-model="medcard.hivInfection">
                    </div>
                </div>
                <div class="form-group mgnB-10">
                    <label for="infection3" class="col-sm-2 control-label">Віл-інфекція</label>
                    <div class="col-sm-8">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="medcard.hivStatus" btn-radio="1">Так</label>
                            <label class="btn btn-primary" ng-model="medcard.hivStatus" btn-radio="0">Ні</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="adress3" class="col-sm-2 control-label" style="padding-top: 0px;">Ким направлений</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="address" id="adress3" ng-model="medcard.sender">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Харчування</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="medcard.food">
                            <option ng-repeat="item in food" value="{{item.id}}">{{item.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <button class="btn btn-link" ng-click="refresh()">Скасувати</button>
                        <button class="btn btn-danger" ng-click="deleteMedcard(medcard)">Видалити</button>
                        <button class="btn btn-primary" ng-click="updateMedcard(medcard)">Зберегти</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <button class="btn btn-default" ng-click="downloadMedcard()">Завантажити медкарту</button>
                    </div>
                </div>
            </div><!-- /. Right column -->
        </div>
    </form>
</div>