<table class="table table-hover">
    <thead>
        <tr>
            <td>№</td>
            <td>Госпіталізація</td>
            <td>Палата</td>
            <td>Направлений</td>
        </tr>
    </thead>
    <tr ng-repeat="medcard in medcards" ui-sref="app.medcard({medcard_id: {{medcard.id}}})">
        <td>{{medcard.number}}</td>
        <td>{{medcard.hospitalizationDate.toLocaleString()}}</td>
        <td>{{medcard.chamber}}</td>
        <td>{{medcard.sender}}</td>
    </tr>
</table>