<div class="row">
    <div class="col-md-2">
        <!--Sidebar content-->
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="isActive('app.medcard.treatment')" role="presentation"><a ui-sref="app.medcard.treatment">Основне</a></li>
            <li ng-class="isActive('app.medcard.treatment.operations')" role="presentation"><a ui-sref="app.medcard.treatment.operations">Операції</a></li>
            <li ng-class="isActive('app.medcard.treatment.admission_department')" role="presentation"><a ui-sref="app.medcard.treatment.admission_department">Запис лікаря прийм. відд.</a></li>
            <li ng-class="isActive('app.medcard.treatment.notes')" role="presentation"><a ui-sref="app.medcard.treatment.notes">Щоденник</a></li>
            <li ng-class="isActive('app.medcard.treatment.examination_results')" role="presentation"><a ui-sref="app.medcard.treatment.examination_results">Результати обсежень</a></li>
            <li ng-class="isActive('app.medcard.treatment.expert_inspections')" role="presentation"><a ui-sref="app.medcard.treatment.expert_inspections">Огляд спеціалістами</a></li>
            <li ng-class="isActive('app.medcard.treatment.efficiency_marks')" role="presentation"><a ui-sref="app.medcard.treatment.efficiency_marks">Відмітки непрацездатності</a></li>
            <li ng-class="isActive('app.medcard.treatment.epicrisis')" role="presentation"><a ui-sref="app.medcard.treatment.epicrisis">Епікриз</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <!--Body content-->
        <div ui-view>
            
            <form class="form-horizontal" name="form" role="form">
                <div class="innerLR">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget">
                                <div class="widget-head">
                                    <h4 class="heading">Діагноз</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="row" >
                                        <div class="col-md-12">
                                            <div class="form-group col-md-12 mgnB-5">
                                                <label for="diagnosis3">Діагноз заключний клінічний</label>
                                                <textarea class="form-control" ng-model="treatmentDiagnose.final"></textarea>
                                            </div>
                                            <div class="form-group col-md-12 mgnB-5">
                                                <label for="mainDiag3">Основний</label>
                                                <textarea class="form-control" ng-model="treatmentDiagnose.main"></textarea>
                                            </div>
                                            <div class="form-group col-md-12 mgnB-5">
                                                <label for="complication3">Ускладнення основного</label>
                                                <textarea class="form-control" ng-model="treatmentDiagnose.complication"></textarea>
                                            </div>
                                            <div class="form-group col-md-12 mgnB-5">
                                                <label for="concomitant3">Супутній</label>
                                                <textarea class="form-control" ng-model="treatmentDiagnose.related"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="widget">
                                <div class="widget-head">
                                    <h4 class="heading">Відмітки</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-12 mgnB-5">
                                                <label for="conclusion">Висновок для тих, хто поступає на експертизу</label>
                                                <textarea rows="5" name="conclusion" class="form-control" ng-maxlength='250' ng-model="treatment.amount"></textarea>
                                                <div class="alert alert-error invalid" ng-show="form.conclusion.$error.maxlength">
                                                    <i class="fa fa-exclamation"></i> Висновки не повинні перевищувати 250 символів
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 mgnB-5" >
                                                <label for="labels">Відмітки щодо страхування</label>
                                                <!--textarea rows="5" name="labels" class="form-control" ng-maxlength='45' ng-model="medcard.treatment.insurance"></textarea-->
                                                <select ng-model="medcard.treatment.contract" class="form-control mgnB-5">
                                                    <option ng-repeat="contract in contracts" value="{{contract.id}}">{{contract.title}} {{contract.description}}</option>
                                                </select>
                                                <!--div class="alert alert-error invalid" ng-show="form.labels.$error.maxlength" >
                                            <i class="fa fa-exclamation"></i> Відмітки не повинні перевищувати 45 символів
                                        </div-->
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group col-md-12 mgnB-5">
                                                <textarea class="form-control" rows="17" ng-model="treatment.otherTreatment"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group col-md-12 mgnB-5">
                                                <label for="otherTreat3">Інші види лікування</label>
                                                <select id="otherTreat3" name="otherTreat" class="form-control mgnB-5" ng-model="treatment.otherTreatmentTypes">
                                                    <option ng-selected="treatment.otherTreatmentTypes==1" value="1">Спеціальне лікування</option>
                                                    <option ng-selected="treatment.otherTreatmentTypes==2" value="2">Поліативне</option>
                                                    <option ng-selected="treatment.otherTreatmentTypes==3" value="3">Симптоматичне лікування</option>
                                                </select>
                                                <label for="efficiency3">Працездатність</label>
                                                <select id="efficiency3" name="efficiency" class="form-control" ng-model="treatment.restoredEfficiency">
                                                    <option ng-selected="treatment.restoredEfficiency==1" value="1">Відновлена повністю</option>
                                                    <option ng-selected="treatment.restoredEfficiency==2" value="2">Знижена</option>
                                                    <option ng-selected="treatment.restoredEfficiency==3" value="3">Тимчасово втрачена</option>
                                                    <option ng-selected="treatment.restoredEfficiency==4" value="4">Стійко втрачена</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-12 mgnB-5">
                                                <label for="treatRes3">Результати лікування</label>
                                                <select id="treatRes3" name="treatRes" class="form-control" ng-model="treatment.result">
                                                    <option ng-selected="treatment.result==1" value="1">Одужання</option>
                                                    <option ng-selected="treatment.result==2" value="2">Поліпшення</option>
                                                    <option ng-selected="treatment.result==3" value="3">Погіршення</option>
                                                    <option ng-selected="treatment.result==4" value="4">Без змін</option>
                                                    <option ng-selected="treatment.result==5" value="5">Помер</option>
                                                    <option ng-selected="treatment.result==6" value="6">Переведений(а)</option>
                                                    <option ng-selected="treatment.result==7" value="7">Здоровий(а)</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-12 mgnB-5">
                                                <label>Особливі відмітки</label><br />
                                                <label>Онкоогляд</label>
                                                <input type="date" class="form-control" ng-model="treatment.oncologicalObserving">
                                            </div>
                                            <div class="form-group col-md-12 mgnB-5">
                                                <label>Флюорографія</label>
                                                <input type="date" class="form-control" ng-model="treatment.xrayObserving">
                                            </div>
                                            <div align="right" class="form-group col-md-12 mgnB-5">
                                                <input class="btn btn-link pull-left" type="button" value="Скасувати" ng-click="loadTreatment()" />
                                                <input type="button" class="btn btn-primary pull-right" value="Зберегти" ng-click="updateTreatment(treatment, treatmentDiagnose)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>