﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <!-- Right column -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Телефон</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="adress3" class="col-sm-2 control-label">Номер</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="address" id="adress3" ng-model="patient.phone" />
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="savePatient(patient)">Зберегти</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-link" ng-click="loadPatient()">Відмінити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>