﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <!-- Right column -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Місце роботи</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="adress3" class="col-sm-2 control-label">Організація</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="organization" typeahead="org as org.title for org in getOrganizations($viewValue)"
                                   typeahead-loading="loadingOrganizations" class="form-control">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="adress3" class="col-sm-2 control-label">Пост</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="job" typeahead="j as j.post for j in getJobs($viewValue)"
                                   typeahead-loading="loadingJobs" class="form-control" ng-disabled="organization.id == null">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="saveJob()">Зберегти</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-link" ng-click="loadJob()">Відмінити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>