﻿<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" role="form">
            <div class="row top-buffer">
                <!-- Left column -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Місце проживання
                        </div>
                        <div class="panel-body">
                            <div class="form-group mgnB-10">
                                <label for="adress3" class="col-sm-2 control-label" style='clear: both;'>Область</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="location.region" typeahead="region as region.title for region in getRegions($viewValue, $index)"
                                           typeahead-loading="loadingRegions" class="form-control">
                                </div>
                            </div>
                            <!--<div class="form-group mgnB-10">
                            <label for="area3" class="col-sm-2 control-label" style='clear: both;'>Район</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="area" id="area3" ng-model="location.locality.area" />
                            </div>
                        </div>-->
                            <div class="form-group mgnB-10">
                                <label for="adress3" class="col-sm-2 control-label">Населений пункт</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="location.locality" typeahead="locality as locality.title for locality in getLocalities($viewValue, $index)"
                                           typeahead-loading="loadingLocalities" class="form-control" ng-disabled="location.region.id == null">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 20px;">
                                <label for="rh_factor3" class="col-sm-2 control-label">Тип н.п.</label>
                                <div class="col-sm-8">
                                    <div class="btn-group">
                                        <label class="btn btn-primary" name="cityType" ng-model="location.locality.type" btn-radio="1" ng-disabled="location.locality.id == null">Місто</label>
                                        <label class="btn btn-primary" name="cityType" ng-model="location.locality.type" btn-radio="2" ng-disabled="location.locality.id == null">Село</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="adress3" class="col-sm-2 control-label">Вулиця</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="location.street" typeahead="street as street.title for street in getStreets($viewValue, $index)"
                                           typeahead-loading="loadingStreets" class="form-control" ng-disabled="location.locality.id == null">
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <label for="adress3" class="col-sm-2 control-label">Додаткова інф. (номер квартири)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="address" id="adress3" ng-model="location.apartment" />
                                </div>
                            </div>
                            <div class="form-group mgnB-10">
                                <div class="col-sm-3 pull-right">
                                    <button class="form-control btn-primary" ng-click="saveLocation(location)">Зберегти</button>
                                </div>
                                <div class="col-sm-3 pull-right">
                                    <button class="form-control btn-link" ng-click="loadLocation(patient.id)">Відмінити</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /. Left column -->
            </div>
        </form>
    </div>
</div>
