<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <!-- Left column -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Основна</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="surname3" class="col-sm-2 control-label">Прізвище</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="lastname" id="surname3" ng-pattern="/^[^0-9]+/" ng-model="patient.lastname">
                            <div class="alert alert-error invalid" ng-show="form.lastname.$error.pattern">
                                <i class="fa fa-exclamation"></i> Прізвище не повинно містити цифр
                            </div>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="name3" class="col-sm-2 control-label">Ім'я</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" id="name3" ng-pattern="/^[^0-9]+/" ng-model="patient.name">
                            <div class="alert alert-error invalid" ng-show="form.name.$error.pattern">
                                <i class="fa fa-exclamation"></i> Ім'я не повинно містити цифр
                            </div>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="patron3" class="col-sm-2 control-label">По-батькові</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="patronymic" id="patron3" ng-pattern="/^[^0-9]+/" ng-model="patient.patronymic">
                            <div class="alert alert-error invalid" ng-show="form.patronymic.$error.pattern">
                                <i class="fa fa-exclamation"></i> Поле по-батькові не повинно містити цифр
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rh_factor3" class="col-sm-2 control-label">Стать</label>
                        <div class="col-sm-8">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="patient.sex" btn-radio="1">Чоловіча</label>
                                <label class="btn btn-primary" ng-model="patient.sex" btn-radio="0">Жіноча</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="birthday3" class="col-sm-2 control-label" style="padding-top: 0px;">Дата народження</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="born" id="birthday3" ng-model="patient.born">
                        </div>
                    </div>
                    <div id="bloodType_id3" class="form-group mgnB-10">
                        <label for="bloodType_id" class="col-sm-2 control-label">Група крові</label>
                        <div class="col-sm-8">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="patient.bloodType" btn-radio="1">I</label>
                                <label class="btn btn-primary" ng-model="patient.bloodType" btn-radio="2">II</label>
                                <label class="btn btn-primary" ng-model="patient.bloodType" btn-radio="3">III</label>
                                <label class="btn btn-primary" ng-model="patient.bloodType" btn-radio="4">IV</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 15px;">
                        <label for="rh_factor3" class="col-sm-2 control-label">Резус-фактор</label>
                        <div class="col-sm-8">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="patient.rhFactor" btn-radio="1">+</label>
                                <label class="btn btn-primary" ng-model="patient.rhFactor" btn-radio="0">-</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label class="col-sm-2 control-label" for="gospDate3">Категорія</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="patient.category" typeahead="category as category.title for category in getCategories($viewValue)"
                                   typeahead-loading="loadingCategories" class="form-control">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="sensitivity3" class="col-sm-2 control-label">Чутливість до препаратів</label>
                        <div class="col-sm-8">
                            <textarea rows="3" class="form-control" name="sensitivity" id="sensitivity3" ng-maxlength='100' ng-model="patient.sensitivity"></textarea>
                            <div class="alert alert-error invalid" ng-show="form.sensitivity.$error.maxlength">
                                <i class="fa fa-exclamation"></i> Поле чутливість не повинно перевищувати 100 символів
                            </div>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="savePatient(patient)">Зберегти</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-link" ng-click="loadPatient()">Відмінити</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-danger" ng-click="removePatient(patient)">Видалити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /. Left column -->
    </div>
</form>