<div class="col-md-2 pull-right">
    <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.patient.newMedcard">
</div>
<table class="table table-hover" ng-init="loadPatientMedcards()">
    <thead>
        <tr>
            <td>№</td>
            <td>Госпіталізація</td>
            <td>Палата</td>
            <td>Направлений</td>
        </tr>
    </thead>
    <tr ng-repeat="medcard in patient_medcards" ui-sref="app.medcard({medcard_id: {{medcard.id}}})">
        <td>{{medcard.number}}</td>
        <td>{{medcard.hospitalizationDate.toLocaleString()}}</td>
        <td>{{medcard.chamber}}</td>
        <td>{{medcard.sender}}</td>
    </tr>
</table>