<div class="row">
    <div class="col-md-1">
        <img src="../../../images/user.png" alt="patient" height="100" width="100" />
    </div>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-link" ui-sref="app.patient.main">{{patient.lastname}} {{patient.name}} {{patient.patronymic}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <p>{{patient.born.toLocaleString().substr(0, 10)}}</p>
                <p>{{patient.bloodType}}({{patient.rhFactor}})</p>  
            </div>
            <div class="col-md-1">
                <p>{{patient.category.title}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div ui-view="leftNav">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ng-class="isActive('app.patient.main')"><a ui-sref="app.patient.main">Основна</a></li>
                <li role="presentation" ng-class="isActive('app.patient.locations')"><a ui-sref="app.patient.locations">Місце проживання</a></li>
                <li role="presentation" ng-class="isActive('app.patient.contacts')"><a ui-sref="app.patient.contacts">Контакти</a></li>
                <li role="presentation" ng-class="isActive('app.patient.job')"><a ui-sref="app.patient.job">Робота</a></li>
                <li role="presentation" ng-class="isActive('app.patient.medcards')"><a ui-sref="app.patient.medcards">Медкарти</a></li>
                <li role="presentation" ng-class="isActive('app.patient.usds')"><a ui-sref="app.patient.usds">УЗД</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div ui-view></div>
        <div ui-view="patientChild"></div>
    </div>
</div>
