<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Ім'я</td>
                    <td>Дата народження</td>
                </tr>
            </thead>
            <tr ng-repeat="patient in patients" ui-sref="app.patient.main({patient_id: {{patient.id}}})">
                <td>{{patient.id}}</td>
                <td>{{patient.lastname + ' ' + patient.name + ' ' + patient.patronymic}}</td>
                <td>{{patient.born.toLocaleString().substr(0, 10)}}</td>
            </tr>
        </table>
    </div>
</div>