<div class="col-md-2 pull-right">
    <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.patient.newUsd">
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <td>№</td>
            <td>Дата</td>
            <td>Лікар</td>
            <td>Результати</td>
        </tr>
    </thead>
    <tr ng-repeat="u in usds" ui-sref="app.patient.usd({usd_id: {{u.id}}})">
        <td>{{u.number}}</td>
        <td>{{u.date.toLocaleString()}}</td>
        <td>{{u.performer}}</td>
        <td>{{u.results}}</td>
    </tr>
</table>