﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Вiдмiтка</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="num" class="col-sm-3 control-label">Номер</label>
                        <div class="col-sm-9 ">
                            <input class="form-control" id="num" type="text" ng-model="efficiencymark.number" />
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="begin" class="col-sm-3 control-label">Дата початку</label>
                        <div class="col-sm-9 ">
                            <input class="form-control" id="begin" type="date" ng-model="efficiencymark.begin" />
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="end" class="col-sm-3 control-label">Дата закінчення</label>
                        <div class="col-sm-9 ">
                            <input class="form-control" id="end" type="date" ng-model="efficiencymark.end" />
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="update()">Оновити</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-danger" ng-click="delete()">Видалити</button>
                        </div>
                        <div class="col-sm-3 pull-left">
                            <button class="form-control btn-link" ng-click="back()">Скасувати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
