﻿<div class="row">
    <div class="col-md-6">
        <br />
        <div class="col-md-3 pull-right">
            <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.medcard.treatment.efficiency_marks.efficiency_mark_new">
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><strong>Номер</strong></td>
                    <td>Початок</td>
                    <td>Кінець</td>

                </tr>
            </thead>
            <tr ng-repeat="efficiencymark in efficiencymarks" >
                <td ui-sref="app.medcard.treatment.efficiency_marks.efficiency_mark({efficiencymark_id: {{efficiencymark.id}} })" >{{efficiencymark.number}}</td>
                <td ui-sref="app.medcard.treatment.efficiency_marks.efficiency_mark({efficiencymark_id: {{efficiencymark.id}} })"
                    ng-bind="efficiencymark.begin.toLocaleString()"></td>
                <td ui-sref="app.medcard.treatment.efficiency_marks.efficiency_mark({efficiencymark_id: {{efficiencymark.id}} })"
                    ng-bind="efficiencymark.end.toLocaleString()"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div ui-view></div>
    </div>
</div>