﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Результат</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="data" class="col-sm-2 control-label">Дата</label>
                        <div class="col-sm-10">
                            <input type="date" id="data" class="form-control" ng-model="newResult.date">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="note" class="col-sm-2 control-label">Результат</label>
                        <div class="col-sm-10">
                            <textarea rows="3" id="note" class="form-control" ng-model="newResult.note"></textarea>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="saveNewResult(newResult)">Додати</button>
                        </div>
                        <div class="col-sm-3 pull-left">
                            <button class="form-control btn-link" ng-click="cencelNewResult()">Скасувати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>