﻿<div class="row"> 
    <div class="col-md-6">
        </br>
        <div class="col-md-3 pull-right">
            <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.medcard.treatment.examination_results.new">
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Результат</b></td>
                    <td><b>Дата</b></td>
                </tr>
            </thead>
            <tr ng-repeat="result in examinationresults">
                <td ui-sref="app.medcard.treatment.examination_results.examination_result({examinationresult_id: {{result.id}} })">{{result.note}}</td>
                <td class="col-sm-3" ui-sref="app.medcard.treatment.examination_results.examination_result({examinationresult_id: {{result.id}} })">{{result.date.toLocaleString()}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <ui-view></ui-view>
    </div>
</div>
