﻿<div class="row">
    <div class="col-md-6">
        <br />
        <div class="col-md-3 pull-right">
            <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.medcard.treatment.expert_inspections.expert_inspections_new">
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><strong>Дата</strong></td>
                    <td>Автор</td>
                    <td>Запис</td>

                </tr>
            </thead>
            <tr ng-repeat="expertinspection in expertinspections">
                <td ui-sref="app.medcard.treatment.expert_inspections.expert_inspection({expertinspection_id: {{expertinspection.id}} })" ng-bind="expertinspection.date.toLocaleString()"></td>
                <td ui-sref="app.medcard.treatment.expert_inspections.expert_inspection({expertinspection_id: {{expertinspection.id}} })">{{expertinspection.author}}</td>
                <td ui-sref="app.medcard.treatment.expert_inspections.expert_inspection({expertinspection_id: {{expertinspection.id}} })">{{expertinspection.note}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div ui-view></div>
    </div>
</div>
