﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Огляд спецiалiстами</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="date" class="col-sm-3 control-label">Дата</label>
                        <div class="col-sm-9 ">
                            <input class="form-control" id="date" type="date" ng-model="expertinspection.date" />
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="author" class="col-sm-3 control-label">Автор</label>
                        <div class="col-sm-9 ">
                            <input class="form-control" id="author" type="text" ng-model="expertinspection.author" />
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="note" class="col-sm-3 control-label">Запис</label>
                        <div class="col-sm-9 ">
                            <textarea class="form-control" id="note" type="text" ng-model="expertinspection.note"></textarea>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="update()">Оновити</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-danger" ng-click="delete()">Видалити</button>
                        </div>
                        <div class="col-sm-3 pull-left">
                            <button class="form-control btn-link" ng-click="back()">Скасувати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>