﻿<div class="row">
    <div class="col-md-6">
    </br>
        <div class="col-md-3 pull-right">
            <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.medcard.treatment.notes.new">
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Запис</b></td>
                    <td><b>Дата</b></td>
                </tr>
            </thead>
            <tr ng-repeat="note in notebooks">
                <td ui-sref="app.medcard.treatment.notes.note({notebook_id: {{note.id}} })">{{note.note}}</td>
                <td class="col-sm-3" ui-sref="app.medcard.treatment.notes.note({notebook_id: {{note.id}} })">{{note.date.toLocaleString()}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <ui-view></ui-view>
    </div>
</div>
