﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Запис</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="date" class="col-sm-2 control-label">Дата</label>
                        <div class="col-sm-10">
                            <input type="date" id="date" class="form-control" ng-model="note.date">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="note" class="col-sm-2 control-label">Запис</label>
                        <div class="col-sm-10">
                            <textarea rows="3" id="note" class="form-control" ng-model="note.note"></textarea>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="updateNotebook(note)">Зберегти</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-danger" ng-click="removeNotebook(note)">Видалити</button>
                        </div>
                        <div class="col-sm-3 pull-left">
                            <button class="form-control btn-link" ng-click="cencelNotebook()">Скасувати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>