<div ui-view>
    </br>
    <div class="col-md-2 pull-right">
        <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.medcard.treatment.operations.new">
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>№</td>
                <td>Назва</td>
                <td>Дата</td>
                <td>Анестезія</td>
                <td>Ускладнення</td>
                <td>Хірург</td>
                <td>Анестезіолог</td>
            </tr>
        </thead>
        <tr ng-repeat="operation in operations" ui-sref="app.medcard.treatment.operation({operation_id: {{operation.id}}})">
            <td>{{operation.number}}</td>
            <td>{{operation.title}}</td>
            <td>{{operation.date.toLocaleString()}}</td>
            <td>{{operation.anesthesiaMethod}}</td>
            <td>{{operation.complications}}</td>
            <td>{{operation.surgeon}}</td>
            <td>{{operation.anesthetist}}</td>
        </tr>
    </table>
</div>