﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading"><button name="enter" class="btn btn-link" ui-sref="app.medcard.treatment.operations"><i class="fa fa-check"></i> Назад</button></div>
                <div class="panel-body">
                    <div class="widget-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="complaint3" class="col-sm-3 control-label">Номер</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="operation.number" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="anamnesis3" class="col-sm-3 control-label">Назва</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" ng-model="operation.title"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="anamnesis3" class="col-sm-3 control-label">Дата</label>;
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" ng-model="operation.date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="condition3" class="col-sm-3 control-label">Анастезія</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="3" ng-model="operation.anesthesiaMethod"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="condition3" class="col-sm-3 control-label">Ускладнення</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="4" name="condition" id="condition3" ng-model="operation.complications"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="condition3" class="col-sm-3 control-label">Хірург</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" rows="10" name="condition" id="condition3" ng-model="operation.surgeon" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="condition3" class="col-sm-3 control-label">Анастезіолог</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" rows="10" name="condition" id="condition3" ng-model="operation.anesthetist" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="updateOperation(operation)">Зберегти</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-danger" ng-click="deleteOperation(operation)">Видалити</button>
                        </div>
                        <div class="col-sm-3 pull-left">
                            <button class="form-control btn-link" ng-click="refresh()">Скасувати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
