<div class="row">
    <div class="col-md-2">
        <!--Sidebar content-->
        <ul class="nav nav-pills nav-stacked">
            <!--<li ng-class="isActive('app.administration')" role="presentation"><a ui-sref="app.administration">Основне</a></li>-->
            <li ng-class="isActive('app.administration.contracts')" role="presentation"><a ui-sref="app.administration.contracts">Страхові контракти</a></li>
            <li ng-class="isActive('app.administration.categories')" role="presentation"><a ui-sref="app.administration.categories">Категорії пацієнтів</a></li>
            <li ng-class="isActive('app.administration.separations')" role="presentation"><a ui-sref="app.administration.separations">Відділення</a></li>
            <li ng-class="isActive('app.administration.posts')" role="presentation"><a ui-sref="app.administration.posts">Посади</a></li>
            <li ng-class="isActive('app.administration.foods')" role="presentation"><a ui-sref="app.administration.foods">Харчування</a></li>
            <li ng-class="isActive('app.administration.examinations')" role="presentation"><a ui-sref="app.administration.examinations">Огляд</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <!--Body content-->
        <div ui-view>Сторінка адміністрації</div>
    </div>
</div>