﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Категорія</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="title" class="col-sm-2 control-label">Назва</label>
                        <div class="col-sm-10">
                            <textarea rows="3" id="title" class="form-control" ng-model="category.title"></textarea>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="updateCategory(category)">Зберегти</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-danger" ng-click="removeCategory(category)">Видалити</button>
                        </div>
                        <div class="col-sm-3 pull-left">
                            <button class="form-control btn-link" ng-click="cencelCategory()">Скасувати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>