﻿<div class="row">
    <div class="col-md-6">
        </br>
        <div class="col-md-3 pull-right">
            <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.administration.categories.new">
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Категорія</b></td>
                </tr>
            </thead>
            <tr ng-repeat="item in categories">
                <td ui-sref="app.administration.categories.view({category_id: {{item.id}}})">{{item.title}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div ui-view></div>
    </div>
</div>