﻿<div class="row">
    <div class="col-md-6">
        </br>
        <div class="col-md-3 pull-right">
            <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.administration.contracts.new">
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Назва</b></td>
                    <td><b>Опис</b></td>
                    <td><b>Предмет договору</b></td>

                </tr>
            </thead>
            <tr ng-repeat="contract in contracts">
                <td ui-sref="app.administration.contracts.contract({contract_id: {{contract.id}} })">{{contract.title}}</td>
                <td ui-sref="app.administration.contracts.contract({contract_id: {{contract.id}} })">{{contract.description}}</td>
                <td ui-sref="app.administration.contracts.contract({contract_id: {{contract.id}} })">{{contract.subject}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div ui-view></div>
    </div>
</div>