﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Новий контракт</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="title" class="col-sm-2 control-label">Назва</label>
                        <div class="col-sm-10">
                            <input type="text" id="title" class="form-control" ng-model="newContract.title">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="description" class="col-sm-2 control-label">Опис</label>
                        <div class="col-sm-10">
                            <textarea rows="3" id="description" class="form-control" ng-model="newContract.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="subject" class="col-sm-2 control-label">Предмет договору</label>
                        <div class="col-sm-10">
                            <textarea rows="3" class="form-control" id="subject" ng-model="newContract.subject"></textarea>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="saveNewContract(newContract)">Зберегти</button>
                        </div>
                       <div class="col-sm-3 pull-left">
                           <button class="form-control btn-link" ng-click="cencelNewContract()">Скасувати</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


