﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Контракт № {{contract.id}}</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="title" class="col-sm-2 control-label">Назва</label>
                        <div class="col-sm-10">
                            <input type="text" id="title" class="form-control" ng-model="contract.title">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="description" class="col-sm-2 control-label">Опис</label>
                        <div class="col-sm-10">
                            <textarea rows="3" id="description" class="form-control" ng-model="contract.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <label for="subject" class="col-sm-2 control-label">Предмет договору</label>
                        <div class="col-sm-10">
                            <textarea rows="3" class="form-control" id="subject" ng-model="contract.subject"></textarea>
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ui-sref="app.administration.contracts" ng-click="updateContract(contract)">Зберегти</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-danger" ui-sref="app.administration.contracts" ng-click="removeContract(contract)">Видалити</button>
                        </div>
                        <div class="col-sm-3 pull-left">
                            <button class="form-control btn-link" ui-sref="app.administration.contracts">Скасувати</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


