﻿<div class="row">
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Тип</b></td>

                </tr>
            </thead>
            <tr ng-repeat="examinationtype in examinationtypes">
                <td>{{examinationtype.type}}</td>

            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <p>some controls</p>
    </div>
</div>