﻿<div class="row">
    <div class="col-md-6">
        </br>
        <div class="col-md-3 pull-right">
            <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.administration.foods.new">
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Назва</b></td>

                </tr>
            </thead>
            <tr ng-repeat="food in foods">
                <td ui-sref="app.administration.foods.food({food_id: {{food.id}} })">{{food.title}}</td>

            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div ui-view></div>
    </div>
</div>