﻿<form class="form-horizontal" role="form">
    <div class="row top-buffer">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Харчування</div>
                <div class="panel-body">
                    <div class="form-group mgnB-10">
                        <label for="title" class="col-sm-2 control-label">Назва</label>
                        <div class="col-sm-10">
                            <input type="text" rows="3" id="title" class="form-control" ng-model="newFood.title">
                        </div>
                    </div>
                    <div class="form-group mgnB-10">
                        <div class="col-sm-3 pull-right">
                            <button class="form-control btn-primary" ng-click="saveNewFood(newFood)">Додати</button>
                        </div>
                        <div class="col-sm-3 pull-left">
                            <button class="form-control btn-link" ng-click="cencelNewFood()">Скасувати</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>