﻿<table class="table table-hover">
    <thead>
        <tr>
            <td><b>Посада</b></td>
        </tr>
    </thead>
    <tr ng-repeat="item in posts">
        <td>{{item.title}}</td>
    </tr>
</table>