﻿<div class="row">
    <div class="col-md-6">
        </br>
        <div class="col-md-3 pull-right">
            <input type="button" value="Додати" class="form-control btn-primary" ui-sref="app.administration.separations.new">
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td><b>Відділення</b></td>

                </tr>
            </thead>
            <tr ng-repeat="item in separations">
                <td ui-sref="app.administration.separations.view({separation_id: {{item.id}}})">{{item.title}}</td>

            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div ui-view></div>
    </div>
</div>